.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 8px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 48px;
    background-color: #E5E4E2;

    .title {
        margin: 0px;
        font-size: 24px;
        font-weight: 700;
        color: #e06b6b;
    }

    .desc{
        margin: 0px;
        font-size: 16px;
        font-weight: 400;
    }
}